In [1]:
import mysql.connector as sql

mydb = sql.connect(
    host="localhost",
    user="root",
    passwd="yugen123",
    use_pure = True
)


print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000202175FC6D0>

# DAY18 Assignment

In [3]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Doctors1")

In [4]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

('doctors1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="yugen123",
  database="Doctors1"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE Doctors (dr_id VARCHAR(255), Patient_visited VARCHAR(255))")

In [7]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('doctors',)

In [8]:
dbse = mydb.cursor()

sql = "INSERT INTO Doctors (dr_id , Patient_visited) VALUES (%s,%s)"
val = [
  ('DID1','10'),
    ('DID2','3'),
    ('DID3','8'),
    ('DID5','0'),
    ('DID123','15'),
    ('DID26','9'),
    ('DID78','0'),
    ('DID65','0'),
     ('DID23','15'),
    ('DID262','9'),
    ('DID783','0'),
    ('DID651','0'), 
    ('DID13','19'),
    ('DID267','7'),
    ('DID8','0'),
    ('DID59','0')    
]

dbse.executemany(sql, val)

mydb.commit()

print(dbse.rowcount, "was inserted.")

16 was inserted.

 2. Get the doctor(s) who have more than 5 patients visited

In [9]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Doctors where Patient_visited >5")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('DID1', '10')
('DID3', '8')
('DID123', '15')
('DID26', '9')
('DID23', '15')
('DID262', '9')
('DID13', '19')
('DID267', '7')

3. Get the doctors with no patients visit

In [10]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Doctors where Patient_visited=0")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('DID5', '0')
('DID78', '0')
('DID65', '0')
('DID783', '0')
('DID651', '0')
('DID8', '0')
('DID59', '0')