# Day 19
------------------------------------------------------------------------------------------------------------
Filter (Where Clause) & Sort

1. Create an Excel with data of Student database and add all the values which is required for student management database, Read the excel file and add the datas into a DB (using script)

In [ ]:
import openpyxl

In [ ]:
path = "students.xlsx"
wb_obj = openpyxl.load_workbook(path)
sheet_obj = wb_obj.active
cell_obj = sheet_obj.cell(row = 5, column = 3)
print(cell_obj.value)

In [ ]:
for i in range(1,11):
    cell_obj = sheet_obj.cell(row = 5, column = i)
    print(cell_obj.value)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="yugen123",
)

mycursor = mydb.cursor()
print(mydb)

In [ ]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE Students_Management_System")

In [ ]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="1234",
  database="students_management_system"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE student3 (roll_no INT(10),Reg_no INT(10),NAME VARCHAR(255), semester1 INT(25),semester2 INT(25),semester3 INT(25), CGPA INT(35) ,PHONE_NUMBER INT,email_id VARCHAR(255))")

In [ ]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

In [ ]:
cur = mydb.cursor()
cur.execute('SELECT * FROM student3')
for row in cur:
    print(row)

In [ ]:
import pandas as pd

df = pd.read_excel('students.xlsx')

In [ ]:
import xlrd
import MySQLdb

In [ ]:
xl_sheet = xlrd.open_workbook("students.xlsx")
xl_sheet

In [ ]:
sheet_name =xl_sheet.sheet_names()
sheet_name

In [ ]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="1234",
  database="students_management_system"
)

cur = mydb.cursor()
for s in range(0,1):
    sheet=xl_sheet.sheet_by_index(s)
    sql= "INSERT INTO student3(roll_no,Reg_no,NAME,semester1,semester2 ,semester3 , CGPA ,email_id) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
    for r in range(1,sheet.nrows):
        roll_no =sheet.cell(r,0).value
        Reg_no =sheet.cell(r,1).value
        NAME =sheet.cell(r,2).value
        semester1 =sheet.cell(r,3).value
        semester2 =sheet.cell(r,4).value
        semester3 =sheet.cell(r,5).value
        CGPA =sheet.cell(r,6).value
        email_id=sheet.cell(r,7).value
        values =(roll_no ,Reg_no,NAME ,semester1,semester2 ,semester3 , CGPA ,email_id)
        
        cur.execute(sql,values)
mydb.commit()

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM student3")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
mycursor = mydb.cursor()

mycursor.execute("SELECT NAME FROM student3 WHERE CGPA >6")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
mydb.commit()
 # Close the database connection
mydb.close()