# Day 24
---------------------------------------------------------------------------------------------------------
Python JSON

1. Create a JSON of all object types and import the JSON into a SQL Database

In [2]:
import json

In [4]:
json_data=[
    {'name':"Yugendran",'age':20,'Permanent_staff':True,'salary':78000.00,'dept_desgn':'Full Stack Developer'},
     {'name':"Suresh",'age':30,'Permanent_staff':False,'salary':62000.00,'dept_desgn':"ML Engineer"},
     {'name':"Vishnu",'age':26,'Permanent_staff':True,'salary':83000.00,'dept_desgn':'Web Designer'},
     {'name':"Udhai",'age':23,'Permanent_staff':True,'salary':50000.00,'dept_desgn':'Data Scientist'},
     {'name':"Ram",'age':24,'Permanent_staff':True,'salary':75000.00,'dept_desgn':'Manager'}
    
]

In [5]:
res =json.dumps(json_data)

In [6]:
import mysql.connector

In [7]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="yugen123"
)

In [8]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000012BBBD10A30>

In [9]:
dbse = mydb.cursor()

dbse.execute("CREATE DATABASE JSONRECORDS1")

In [10]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

('doctors1',)
('employee_mangement',)
('information_schema',)
('jsonrecords1',)
('mysql',)
('performance_schema',)
('sys',)

In [11]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="yugen123",
  database="jsonrecords1"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE employee (name VARCHAR(255),age INT, permanent_staff VARCHAR(255), salary DOUBLE, dept_and_designation VARCHAR(255))")

In [12]:
dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('employee',)

In [13]:
dbse = mydb.cursor()

dbse.execute("SHOW COLUMNS FROM employee")

for value in dbse:
  print(value)

('name', b'varchar(255)', 'YES', '', None, '')
('age', b'int', 'YES', '', None, '')
('permanent_staff', b'varchar(255)', 'YES', '', None, '')
('salary', b'double', 'YES', '', None, '')
('dept_and_designation', b'varchar(255)', 'YES', '', None, '')

In [ ]:
dbse = mydb.cursor()
sql = "INSERT INTO employee (name ,age, permanent_staff,salary,dept_designation) VALUES (%s)"
value= list(for i in res: res[i])
                         
dbse.execute( sql, value))