DAY - 4 - Assignment

**Python - Variables & Data types**

1)Create three variables (a,b,c) to same value of any integer & do the following
a) Divide a by 10 
b) Multiply b by 50 
c) Add c value by 60

In [1]:
a=b=c=100
print("values of a =",a,"b=",b,"and c=",c)
# a divide a by 10
print("Divide a by 10 :",a/10)
# b multiply b by 50
print("Multiply b by 50",b*50)
# c Add c value by 60
print("Add c value by 60" ,c+60)

values of a = 100 b= 100 and c= 100
Divide a by 10 : 10.0
Multiply b by 50 5000
Add c value by 60 160

2)Create a String variable of 5 characters and replace the 3rd character with G

In [3]:
string_var="abcde"
print(string_var)
print("after replacing G in string", string_var.replace("c","G"))

abcde
after replacing G in string abGde

In [4]:
print(string_var)
print("after replacing G in string", string_var[:2]+'G'+string_var[3:])

abcde
after replacing G in string abGde

In [5]:
import re
print(string_var)
string_var=re.sub("c","G",string_var)
print("after replacing G in string",string_var )

abcde
after replacing G in string abGde

In [6]:
string_var="abcde"
print(string_var)
trans=string_var.maketrans("c","G")
string_var=string_var.translate(trans)
print("after replacing G in string",string_var )

abcde
after replacing G in string abGde

3)Create two values (a,b) of int,float data type & convert the vise versa, Hint : convert a from int to float datatype & b from float to int datatype

In [8]:
a=5
b=5.5
print("a=",a)
print("After typecasting a to float =",float(a))
print("b=",b)
print("After typecasting a to int =",int(b))

a= 5
After typecasting a to float = 5.0
b= 5.5
After typecasting a to int = 5