**DAY 5**

In [ ]:
User Inputs, Other Important Datatypes
1) Write a program to create a list of n integer values and do the followingÂ¶

In [1]:
n=7
a=[]
for i in range(n):
    x=int(input())
    a.append(x)

1
2
3
4
5
6
7

In [2]:
for i in a:
    print(i)

1
2
3
4
5
6
7

In [3]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
6
7

*Adding elements in list*

In [4]:
print("A=",a)
b=['a','s','d','g','h']
a+=b
print("After adding another list :",a)

A= [1, 2, 3, 4, 5, 6, 7]
After adding another list : [1, 2, 3, 4, 5, 6, 7, 'a', 's', 'd', 'g', 'h']

In [5]:
c=[23,3,2,1,5]
a.extend(c)
a

[1, 2, 3, 4, 5, 6, 7, 'a', 's', 'd', 'g', 'h', 23, 3, 2, 1, 5]

In [6]:
a.insert(4,"I am newly inserted element")
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6, 7, 'a', 's', 'd', 'g', 'h', 23, 3, 2, 1, 5]

Deleting an element in *list*

In [7]:
del a[9]
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6, 7, 'a', 'd', 'g', 'h', 23, 3, 2, 1, 5]

In [8]:
del a[8:17]
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6, 7]

In [9]:
a.pop() 
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 5, 6]

In [10]:
a.pop(-2) 
print(a)

[1, 2, 3, 4, 'I am newly inserted element', 6]

In [11]:
a.remove(4)
print(a)

[1, 2, 3, 'I am newly inserted element', 6]

In [12]:
a.remove(3)
print(a)

[1, 2, 'I am newly inserted element', 6]

Store the largest number from the list to a variable

In [13]:
list =[90,98,78,67,56,45]
max_i=max(list)
print("maximun number in list",max_i)

maximun number in list 98

Store the Smallest number from the list to a variable

In [14]:
list =[90,98,78,67,56,45]
min_i=min(list)
print("minimun number in list",min_i)

minimun number in list 45

**Create a tuple and print the reverse of the created tuple**

In [15]:
tup =(12,12,23,34,34,45,46,47,87,56)
s=sorted(tup)
print("tuple before sorting",tup)
print("Reverse the tuple ",sorted(tup,reverse=True))
print("Sorted tuplr",s)

tuple before sorting (12, 12, 23, 34, 34, 45, 46, 47, 87, 56)
Reverse the tuple  [87, 56, 47, 46, 45, 34, 34, 23, 12, 12]
Sorted tuplr [12, 12, 23, 34, 34, 45, 46, 47, 56, 87]

In [16]:
r=sorted(s, reverse=True)
print("reverse of sorted tuple is ",r)

reverse of sorted tuple is  [87, 56, 47, 46, 45, 34, 34, 23, 12, 12]

** Create a Tuple And Convert into List**

In [ ]:
tuple =(12,12,23,34,34,45,46,47,87,56)

print("tuple is ",tuple)
list1=list(tuple)
print("Tuple in form as list ",list1)