**DAY 6**

**Dictionary,Sets**

1) Write a Python script to merge two Python dictionaries

In [1]:
dict1={'rahul':99,'priya':95,'maha':89,'anish':88}
dict2={'virat':100,'suresh':56,'akshaya':90,'Prema':67}

In [2]:
print(dict2.update(dict1))    
print(dict2)

None
{'virat': 100, 'suresh': 56, 'akshaya': 90, 'Prema': 67, 'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}

In [3]:
print(dict1)

{'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}

In [4]:
res = {**dict1, **dict2} 

print(res)

{'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88, 'virat': 100, 'suresh': 56, 'akshaya': 90, 'Prema': 67}

In [5]:
res1 = dict1 and dict2  
print(res1)

{'virat': 100, 'suresh': 56, 'akshaya': 90, 'Prema': 67, 'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}

In [6]:
print(dict1 ," and dictionary 2 is    ", dict2)
print()
print()
dis =dict2 or dict1
print(dis)

{'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}  and dictionary 2 is     {'virat': 100, 'suresh': 56, 'akshaya': 90, 'Prema': 67, 'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}


{'virat': 100, 'suresh': 56, 'akshaya': 90, 'Prema': 67, 'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}

2) Write a Python program to remove a key from a dictionary

In [8]:
del dict1['maha']
print(dict1)

{'rahul': 99, 'priya': 95, 'anish': 88}

In [9]:
dict2.pop('suresh')

56

In [10]:
print(dict2)

{'virat': 100, 'akshaya': 90, 'Prema': 67, 'rahul': 99, 'priya': 95, 'maha': 89, 'anish': 88}

In [11]:
dict2.popitem() 
print(dict2)

{'virat': 100, 'akshaya': 90, 'Prema': 67, 'rahul': 99, 'priya': 95, 'maha': 89}

3) Write a Python program to map two lists into a dictionary

In [12]:
d1=['divya','sankar','renuka','sid','manik','nandu']
d2=[76,89,87,65,75,80]
res = {}
for key in d1:
    for value in d2:
        res[key] = value
        d2.remove(value)
        break  
print("Dictionary is ",str(res))

Dictionary is  {'divya': 76, 'sankar': 89, 'renuka': 87, 'sid': 65, 'manik': 75, 'nandu': 80}

In [13]:
d1=['divya','sankar','renuka','sid','manik','nandu']
d2=[76,89,87,65,75,80]
res1={d1[i]:d2[i] for i in range(len(d1))}
print(res1)

{'divya': 76, 'sankar': 89, 'renuka': 87, 'sid': 65, 'manik': 75, 'nandu': 80}

In [14]:
d1=['divya','sankar','renuka','sid','manik','nandu']
d2=[76,89,87,65,75,80]
rs2 = dict(zip(d1,d2))
print(rs2)

{'divya': 76, 'sankar': 89, 'renuka': 87, 'sid': 65, 'manik': 75, 'nandu': 80}

4) Write a Python program to find the length of a set

In [15]:
name={'divi','renu','sid','shri','anu','preu','manik','nandu'}
print("Number of names in Set is :",len(name))

Number of names in Set is : 8

trying with add, update,remove and discard functon in set

In [16]:
name={'divi','renu','sid','shri','anu','preu','manik','nandu'}
name2={'sivi','manvi','jeevika','dabbu','komolika'}
name.update(name2)
print("Adding two  sets :", name)

Adding two  sets : {'dabbu', 'divi', 'sivi', 'nandu', 'renu', 'shri', 'komolika', 'manik', 'manvi', 'preu', 'anu', 'jeevika', 'sid'}

In [17]:
name.add("sara")

In [18]:
print(name)

{'dabbu', 'divi', 'sara', 'sivi', 'nandu', 'renu', 'shri', 'komolika', 'manik', 'manvi', 'preu', 'anu', 'jeevika', 'sid'}

In [19]:
name.remove('sara')

In [20]:
name.discard('divi')

In [21]:
print(name)

{'dabbu', 'sivi', 'nandu', 'renu', 'shri', 'komolika', 'manik', 'manvi', 'preu', 'anu', 'jeevika', 'sid'}

5) Write a Python program to remove the intersection of a 2nd set from the 1st sets

In [22]:
a1={12,13,14,15,16,17,21,12,13,14,121}
a2={12,13,14,11,88,97,65,15}
print(a1.intersection(a2))

{12, 13, 14, 15}