**Day 8**

**Exercise**

1) Write a Python script to merge two Python dictionaries

In [1]:
dict1={1:'a',2:'b',3:'c',4:'d'}
dict2={5:'e',6:'f',7:'g'}
print(dict2)
dict3={**dict1, **dict2} # method 1
dict2.update(dict1) # method 2
print(dict1)
print(dict3)
print(dict2)

{5: 'e', 6: 'f', 7: 'g'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f', 7: 'g'}
{5: 'e', 6: 'f', 7: 'g', 1: 'a', 2: 'b', 3: 'c', 4: 'd'}

2)Write a program to sort the value from descending to ascending in list and convert it in to a set

In [2]:
list1=[2,3,4,5,6,7,1,2,3,43,12,14]
list1.sort() 
print(list1)

[1, 2, 2, 3, 3, 4, 5, 6, 7, 12, 14, 43]

In [3]:
list1.sort(reverse=True)
print(list1)

[43, 14, 12, 7, 6, 5, 4, 3, 3, 2, 2, 1]

In [4]:
set1=set(list1) 
print(set1)

{1, 2, 3, 4, 5, 6, 7, 43, 12, 14}

In [5]:
type(set1)

set

In [6]:
type(list1)

list

3) Write a Python program to list number of items in a dictionary key and sort the list with the help of a function & without the function.

In [8]:
dict1={'Hari':[12,13,21,16],'Ramu':[12,67,54,43],'Kanna':[34,87,88,98],'Vishnu':[33,66,55,44]}
result={k:sorted(dict1[k]) for k in sorted(dict1)}
print(result)

{'Hari': [12, 13, 16, 21], 'Kanna': [34, 87, 88, 98], 'Ramu': [12, 43, 54, 67], 'Vishnu': [33, 44, 55, 66]}

In [10]:
def function1(dict1):
    res = dict()
    for key in sorted(dict1):
        res[key] = sorted(dict1[key])
    return res

In [11]:
function1(dict1)

{'Hari': [12, 13, 16, 21],
 'Kanna': [34, 87, 88, 98],
 'Ramu': [12, 43, 54, 67],
 'Vishnu': [33, 44, 55, 66]}

In [12]:
def function2(dict1):
    res=dict()
    min1=dict1[key]
    for key in sorted(dict1):
        if dict1[key]<min1:
            min1=dict1[key]
            res[key]=min1
    return res

In [13]:
function1(dict1)

{'Hari': [12, 13, 16, 21],
 'Kanna': [34, 87, 88, 98],
 'Ramu': [12, 43, 54, 67],
 'Vishnu': [33, 44, 55, 66]}

4)Write a Python program to get a string from a given string (user input) and change the first occurrence of the word to a user specified input.

In [15]:
def fun():
    user=input("Enter the string :")
    word="String is given by user  "
    return user+word[6:]

In [16]:
fun()

Enter the string :Hello

'Hello is given by user  '

5)Write a Python program to get a string from a given string where all occurrences of its first char have been changed to capital letter.

In [17]:
def fun3():
    user=input("Enter the string :")
    return user.capitalize()

In [21]:
fun3()

Enter the string :hello python

'Hello python'

In [19]:
def change_char(str1):
    char = str1[0]
    str1 = str1.replace(char, str1[0].upper())
    str1 = char + str1[1:]
    return str1

In [20]:
change_char('hello world ! this is a python program')

'hello world ! tHis is a pytHon program'

6) Write a Python program to find the repeated items of a list

In [22]:
from collections import Counter
 
l1 = [1,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(l1)
print(d)
 
new_list = list([item for item in d if d[item]>1])
print(new_list)

Counter({1: 4, 2: 3, 5: 2, 9: 2, 3: 1, 4: 1, 6: 1, 7: 1, 8: 1})
[1, 2, 5, 9]

In [23]:
def Repeat(x):
    _size = len(x)
    repeated = []
    for i in range(_size):
        k = i + 1
        for j in range(k, _size):
            if x[i] == x[j] and x[i] not in repeated:
                repeated.append(x[i])
    return repeated

In [24]:
list1 = [10, 20, 30, 20, 20, 30, 40,
         50, -20, 60, 60, -20, -20]
print (Repeat(list1))

[20, 30, -20, 60]

7) Write a Python program to check the sum of three elements and divided by a value which is given as an input by the user

In [26]:
a=int(input("Enter number :"))
b=int(input("Enter number :"))
c=int(input("Enter number :"))
sum1=a+b+c
print(sum1)
user=int(input("Enter the number to divide sum!"))
if sum1% user==0:
    print("The given input divide")
else :
    print("The given input does not divide sum1")

Enter number :2
Enter number :3
Enter number :5
10
Enter the number to divide sum!5
The given input divide

8) Write a Python program to find the Mean,median,mode among three given numbers

In [27]:
from collections import Counter
def MMM(n_num):
    n = len(n_num)
    get_sum = sum(n_num)
    mean = get_sum / n
    print("Mean / Average is: " + str(mean))
    n_num.sort()
    if n % 2 == 0:
        median1 = n_num[n//2]
        median2 = n_num[n//2 - 1]
        median = (median1 + median2)/2
    else:
        median = n_num[n//2]
    print("Median is: " + str(median))
    data = Counter(n_num)
    get_mode = dict(data)
    mode = [k for k, v in get_mode.items() if v == max(list(data.values()))]
    if len(mode) == n:
        get_mode = "No mode found"
    else:
        get_mode = "Mode is / are: " + ', '.join(map(str, mode))
    print(get_mode)

In [28]:
l=[12,11,23,245,25,22,344,34,56]
MMM(l)

Mean / Average is: 85.77777777777777
Median is: 25
No mode found

9)Write a Python program to swap cases of a given string

In [29]:
a="Hello"
b="World"
tep=a
a=b
b=tep
print(a,b)

World Hello

In [30]:
x = a
y = b
x, y = y, x
print(x,y)

Hello World

10) Write a program to convert an integer to binary & octa decimal

In [31]:
def decToOctal(n):
    octalNum = [0] * 100
    i = 0
    while (n != 0):
        octalNum[i] = n % 8
        n = int(n / 8)
        i += 1
    for j in range(i - 1, -1, -1):
        print(octalNum[j], end="")

In [32]:
n=65
decToOctal(n)

101

In [33]:
n=3
decToOctal(n)

3