**Day 9**

Exercise

1) Write a program to loop through a list of numbers and add +2 to every value to elements in list

In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]
result=[]
for i in list1:
    result.append(i+2)
print(result)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

2)Write a program to get the below pattern

54321
4321
321
21
1

In [3]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

3)Python Program to Print the Fibonacci sequence

In [4]:
def Fibonacci(n):
   
    if n < 0:
        print("Incorrect input")
 
    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

In [5]:
print(Fibonacci(11))

89

In [6]:
def fibo(n):
    n1, n2 = 0, 1
    count = 0
    if n<0:
        print("Incorrect Input")
    elif n == 1 or n == 2:
        print('1')
    else :
         while count < n:
                print(n1)
                nth = n1 + n2
                n1 = n2
                n2 = nth
                count += 1

In [7]:
fibo(12)

0
1
1
2
3
5
8
13
21
34
55
89

4) Explain Armstrong number and write a code with a function

armstrong number the number whose digit cube is equal to the same number Example :153 1*1*1=1 5*5*5=125 3*3*3=27 1+125+27=153 this is the same input number

In [8]:
num = int(input("Enter a number: "))
sum1 = 0
temp1 = num
while temp1 > 0:
    digit1 = temp1 % 10
    sum1 += digit1**3
    temp1 //= 10
if num == sum1:
    print(num,"is an Armstrong number")
else:
    print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

5)Write a program to print the multiplication table of 9

In [9]:
for i in range(1,11):
    print("9 x ",i,' = ',i*9 )

9 x  1  =  9
9 x  2  =  18
9 x  3  =  27
9 x  4  =  36
9 x  5  =  45
9 x  6  =  54
9 x  7  =  63
9 x  8  =  72
9 x  9  =  81
9 x  10  =  90

6)Check if a program is negative or positive

In [10]:
lid=[-1,2,-45,50,-90,87]
for i in lid:
    if i >=0:
        print(i," is positive")
    else :
        print(i,' is negative ')

-1  is negative
2  is positive
-45  is negative
50  is positive
-90  is negative
87  is positive

7)Write a program to convert the number of days to agesÂ¶

In [11]:
def find( number_of_days ):
    year = int(number_of_days / 365)
    print(year,'Years ago !')

In [12]:
no_days=675
find(no_days)

1 Years ago !

In [13]:
no_days=1675
find(no_days)

4 Years ago !

8) Solve Trigonometry problem using math function write a program to solve using math function

In [14]:
import math
def trigo(n,m):
    if n=='sin':
        return math.sin(m)
    elif n=='cos':
        return math.cos(m)
    elif n=='cosin':
        return math.cosine(m)
    elif n=='tan':
        return math.tan(m)
    elif n=='sec':
        return math.sec(m)
    elif n=='cosec':
        return math.cosec(m)

In [15]:
trigo('sin',90)

0.8939966636005579

In [16]:
trigo('cos',180)

-0.5984600690578581

In [17]:
trigo('tan',45)

1.6197751905438615

9) create a basic calculator using if condition only

In [18]:
def calculate():
    print('+')
    print('-')
    print('*')
    print('/')
    print('%')
    print('**')
    operation = input("Select an operator:n")
    print("Enter two numbers")
    number_1 = int(input())
    number_2 = int(input())

    if operation == '+': # To add two numbers
        print(number_1 + number_2)
    elif operation == '-': # To subtract two numbers
        print(number_1 - number_2)
    elif operation == '*': # To multiply two numbers
        print(number_1 * number_2)
    elif operation == '/': # To divide two numbers
        print(number_1 / number_2)
    elif operation == '%': # To remainder two numbers
        print(number_1 % number_2)
    elif operation == '**': # To num1 exponent num2
        print(number_1 ** number_2)
    else:
        print('Invalid Input')

In [19]:
calculate()

+
-
*
/
%
**
Select an operator:n**
Enter two numbers
3
4
81

In [20]:
calculate()

+
-
*
/
%
**
Select an operator:n^
Enter two numbers
4
6
Invalid Input